<h2>Edit Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :put) do |f| %>
  <%= render "devise/registrations/form",
              f: f,
              edit_mode: true,
              submit_text: "Update Account" %>
<% end %>

<br>

<%= button_to "Cancel My Account", registration_path(resource_name),
              data: { confirm: "Are you sure?" }, method: :delete %>

<%= link_to "Back", :back %>
