<h1>
  <%= link_to "â† Back", products_path, style: "margin-right: 15px; text-decoration: none;" %>
  Create Your Account
</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/registrations/form",
              f: f,
              show_min_length: true,
              submit_text: "Create Account" %>
<% end %>

<br>

<p>
  Already have an account?
  <%= link_to "Sign in", new_user_session_path %>
</p>
