<h1>Order Complete</h1>

<p>Thank you! Your order has been successfully placed.</p>

<p>You will receive an email confirmation shortly.</p>

<br>

<%= link_to "Return to Store", products_path, class: "btn btn-primary" %>
