.alert-success-custom {
  background: rgba($success-green, 0.15);
  border-left: 5px solid $success-green;
  color: $medium-gray;
}

.alert-danger-custom {
  background: rgba($danger-red, 0.15);
  border-left: 5px solid $danger-red;
  color: $medium-gray;
}
