body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.6;

  @media (max-width: 768px) {
    font-size: 15px;
  }
}

h1 {
  font-size: 2rem;
  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
}

h2 {
  font-size: 1.5rem;
}
