@import "application.bootstrap";
@import "variables";
@import "bootstrap";
@import "layout";
@import "components";
@import "forms";

$primary-color: #4a4aff;

body {
  background-color: lighten($primary-color, 45%);

  nav {
    margin-bottom: 20px;
  }
}
