// main application scss - imports partials
@import "variables";
@import "bootstrap_overrides"; // any bootstrap overrides
@import "typography";
@import "navbar";
@import "buttons";
@import "forms";
@import "cards";
@import "badges";
@import "alerts";
@import "utilities";
@import "components/status";

// If there is any direct additional small rule:
body {
  background: $off-white;
  color: $medium-gray;
}
